.main {
  display: flex;
  // background-color: #044343;
  // background-image: linear-gradient(#262833, #000);

  .side-panel {
    width: 100vh;
    z-index: 1;
    background-color: blue;
    position: fixed;

}
}