.section-2 {
    flex: 5;

    .details {
        height: 50px;
    }

    .upper-section {
        display: flex;
        margin-bottom: 60px;

        .charts {
            flex: 1;
            display: flex
        }

        .line-upper {
            flex: 1;
            margin-left: 40px;
        }
    }

    .lower-section {
        display: flex;

        .bar-lower {
            flex: 1;
            margin-left: 30px;
        }

        .line-lower {
            flex: 1;
            margin-left: 30px
        }
    }

    @media(max-width: 1023px) {
        .upper-section {
            flex-direction: column;
        }

        .lower-section {
            flex-direction: column;
        }
    }

    @media(max-width: 767px) {
        .upper-section {
            margin-bottom: 0;

            .line-upper {
                margin-bottom: 50px;
            }

            .charts {
                flex-direction: column;
    
                .chart-display {
                    margin-bottom: 50px;
                }
            }
        }

        .lower-section {
            .bar-lower {
                margin-bottom: 50px;
            }
        }
    }
  }